.navbar {
    background-color: #d62828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.titulo-navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    color: white;
}


.navegacion {
    display: flex;
    gap: 15px;
    list-style: none;
}
.navegacion a {
    display:block;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navegacion a:hover {
    text-decoration: underline;
    background: #000000;
}

.logout-icon {
    cursor: pointer;
    font-size: 200%;
    color: white;
    transition: color 0.3s;
}
 
.logout-icon:hover {
    color: #000000;
}

img {
    width: 20%;
}